@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your awesome audio player</h1>
    <p class="lead">Made with love </p>
    <p><a href="@Url.Action("Index","Music")" class="btn btn-primary btn-lg">Start Listening</a></p>
</div>
